
@model IEnumerable<UserApplicationSystem.BusinessModels.UserFamilyModel>

@{
    ViewBag.Title = "Relationships";
}

<h2>Household Relationships</h2>
<h4>Please tell us how the members of your household are related to each other</h4>

@{
    <ul class="nav nav-tabs">

        @foreach (var item in Model)
        {
            <li role="presentation" id="@item.MemberId"> <a onclick="getData(this)" id="TabClick" data-memberName="@item.FirstName" data-member="@item.MemberId" data-target="#@item.MemberId">@item.FirstName</a> </li>
        }

    </ul>
    <div id="RelationsForm">

    </div>
}

<script>
    var url = '@Url.Action("GetOtherMembers", "Relations")';

    function getData(data) {
        var data = $(data).data('member');
        var userName = $(data).data('memberName');
        console.log(data);
        $('#RelationsForm').load(url, { memberId: data});
    }
</script>
